.side
  .side__header
    .side__header__box
      .side__header__box__name
        chiba
      .side__header__box__option
        .side__header__box__option__icon1
        = link_to "#", class: "side__header__box__option__icon1" do
          <i class='far fa-edit'>
          </i>
        .side__header__box__option__icon2
        = link_to "#", class: "side__header__box__option__icon2" do
          <i class="fa fa-cog">
          </i>


  .side__content
    .side__content__box
      .side__content__box__text-top
        テスト
      .side__content__box__text-bottom
        まだメッセージがありません